<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Blood Bank</h3>

            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/Admin/Dashboard">Dashboard</a>
                    <a href="/Admin/UserManagement">User Management</a>
                    <a href="/Admin/DonateRequests">Donate Requests</a>
                    <a href="/Admin/ReceiveRequests">Receive Requests</a>
                </li>
            </ul>
            @*<div ng-app="my-app">
                    <div ng-controller="logoutCtrl">
                        <form ng-submit="logout()">
                            <ul class="list-unstyled CTAs">
                                <li><button type="submit" class="btn btn-primary article">LogOut</button></li>
                            </ul>
                        </form>

                    </div>
                </div>*@

        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar">
                        <div class="container-fluid container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" style="border-color:black" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar" style="background-color: black"></span>
                                    <span class="icon-bar" style="background-color: black"></span>
                                    <span class="icon-bar" style="background-color: black"></span>
                                </button>
                                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                    <i class="glyphicon glyphicon-align-left"></i>
                                </button>
                            </div>

                            <div>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown open">
                                        <button role="button" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="dropdown" aria-expanded="false">Welcome Admin <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/Account/EditProfile">Profile</a></li>
                                            <li><a href="/Account/EditPassword">Change Password</a></li>
                                        </ul>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-12 body-content">
                    <div class="container">
                        @RenderBody()
                    </div>

                </div>
            </div>



        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script>
            $(document).ready(function () {
                $("#sidebarCollapse").on("click", function () {
                    $("#sidebar").toggleClass("active");
                    $(this).toggleClass("active");
                });
            });
            //var app = angular.module("my-app", []);

            //app.factory('interceptor', [function () {
            //    var interceptor = {
            //        request: function (config) {
            //            config.headers.Authorization = localStorage.getItem("tkey");
            //            return config;
            //        },
            //        response: function (response) {
            //            return response;
            //        }
            //    };
            //    return interceptor;
            //}]);

            //app.config(function ($httpProvider) {
            //    $httpProvider.interceptors.push('interceptor');
            //});

            //app.controller('logoutCtrl', function ($scope, $http) {
            //    $scope.logout = function () {
            //        $http.get("https://localhost:44390/api/logout").then(function (resp) {
            //            localStorage.clear();
            //            window.location.href = "https://localhost:44399/Account/LogIn";
            //        }, function (err) {
            //            Swal.fire({
            //                icon: 'error',
            //                title: 'Error',
            //                text: 'Something went wrong'
            //            });
            //        });


            //    };
            //});
        </script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
